services:
  api:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: api_container
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - "5000:80" # Открываем порт 5000 для доступа к API
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: passpostgress
      POSTGRES_DB: BookStoreApi
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
